body, html {
  font-family: "Comfortaa", cursive;
}

#banner {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff86), to(#ffffffc0)), url("../img/banner.png");
  background: linear-gradient(to bottom, #ffffff86, #ffffffc0), url("../img/banner.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right;
  height: 200px;
  text-align: center;
}

#banner h1 {
  margin-top: 80px;
  font-family: "Merienda", cursive;
  color: #77ff41;
  text-shadow: 0px 0px 5px black;
}
/*# sourceMappingURL=style.css.map */