// Warna
$background: #eeeeee;

// Huruf
$conforta: 'Comfortaa', cursive;
$medienda: 'Merienda', cursive;

body,html {
    font-family: $conforta;
}
#banner {
    background:  linear-gradient(to bottom, #ffffff86, #ffffffc0 ) , url('../img/banner.png') ;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    height: 200px;
    text-align: center;
    h1{
        margin-top: 80px;
        font-family: $medienda;
        color: rgb(119, 255, 65);
        text-shadow: 0px 0px 5px black;
    }
}